<fw-loading-container [loadable]="inboxItemListingStore.getInboxItemListing() | async">
  <header>
    <app-inbox-item-search (queryChanged)="search($event)"></app-inbox-item-search>
    <app-inbox-item-filters [filters]="inboxItemListingStore.getInboxItemFilters() | async"
                            
                             [users]="(userListingStore.getUsers() | async)"
                            (userFilterChanged)="filterUser($event)"
                            >
    </app-inbox-item-filters>
  </header>

  <app-inbox-item-listing [inboxItems]="inboxItemListingStore.getInboxItems() | async">
  </app-inbox-item-listing>
</fw-loading-container>

<!--[users]="(usersStore.getUsers() | async).list"-->
