<h2>{{inboxItem?.title}}</h2>
<p>{{inboxItem?.description}}</p>
<app-youtube-video [url]="inboxItem.youtubeUrl"></app-youtube-video>
<app-button-group>
  <app-button (onButtonPressed)="goBack()">
    <span class="fa fa-arrow-circle-left"></span> Go Back
  </app-button>
  <app-button-toggle [isToggled]="inboxItem.favorite"
                     (onToggle)="toggleFavorite()">
    <span class="fa fa-{{inboxItem.favorite ? 'times' : 'heart'}}"></span>
    {{inboxItem.favorite ? 'Unfavorite' : 'Favorite'}}
  </app-button-toggle>
</app-button-group>
