<!--<fw-loading-container [loadable]="contactListingStore.getContactListing() | async">
  <header>
    <app-contact-search (queryChanged)="search($event)"></app-contact-search>
  </header>

  <app-contact-listing [contacts]="contactListingStore.getContacts() | async">
  </app-contact-listing>
</fw-loading-container>-->
<fw-loading-container [loadable]="contactListingStore.getContactListing() | async">
  <header>
    <fw-search (queryChanged)="search($event)"></fw-search>
  </header>

  <app-contact-listing [contacts]="contactListingStore.getContacts() | async">
  </app-contact-listing>

</fw-loading-container>