:host {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 100%;
  justify-content: space-between;

}

:host /deep/ h4 {
  color: #455A64;
  margin: 0;
  padding: 1rem;
  text-align: left;
}
