<div *ngIf="isTrash()">
  <h2>{{listItem?.description}}</h2>
  <div style="display:block; text-align: center"><span>Date entered:</span><span style="margin-left: 20px">{{trashItem?.dateCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Entered by:</span><span style="margin-left: 20px">{{trashItem?.userCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Date deleted:</span><span style="margin-left: 20px">{{trashItem?.dateChanged}}</span></div>
  <div style="display:block; text-align: center"><span>Deleted by:</span><span style="margin-left: 20px">{{trashItem?.userChanged}}</span></div>

</div>
<div *ngIf="isSomeday()">
  <h2>{{listItem?.description}}</h2>
  <div style="display:block; text-align: center"><span>Date entered:</span><span style="margin-left: 20px">{{somedayItem?.dateCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Entered by:</span><span style="margin-left: 20px">{{somedayItem?.userCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Date postponed:</span><span style="margin-left: 20px">{{somedayItem?.dateChanged}}</span></div>
  <div style="display:block; text-align: center"><span>Postponed by:</span><span style="margin-left: 20px">{{somedayItem?.userChanged}}</span></div>
  <div style="display:block; text-align: center"><span>Reminder cycle:</span><span style="margin-left: 20px">{{somedayItem?.reminderCycle}}</span></div>
  <div style="display:block; text-align: center"><span>Next Reminder:</span><span style="margin-left: 20px">{{somedayItem?.reminderNext}}</span></div>
</div>
<div *ngIf="isReference()">
  <h2>{{listItem?.description}}</h2>
  <div style="display:block; text-align: center"><span>Date entered:</span><span style="margin-left: 20px">{{referenceItem?.dateCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Entered by:</span><span style="margin-left: 20px">{{referenceItem?.userCreated}}</span></div>
</div>
  <app-button-group>
    <app-button (onButtonPressed)="goBack()">
      <span class="fa fa-arrow-circle-left"></span> Go Back
    </app-button>
  </app-button-group>