<fw-item-detail [item]="item">
  <h2>{{item?.description}}</h2>
  <div style="display:block; text-align: center"><span>Date entered:</span><span style="margin-left: 20px">{{item?.dateCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Entered by:</span><span style="margin-left: 20px">{{item?.userCreated}}</span></div>
  <div style="display:block; text-align: center"><span>Date postponed:</span><span style="margin-left: 20px">{{item?.dateChanged}}</span></div>
  <div style="display:block; text-align: center"><span>Postponed by:</span><span style="margin-left: 20px">{{item?.userChanged}}</span></div>
  <div style="display:block; text-align: center"><span>Reminder cycle:</span><span style="margin-left: 20px">{{item?.reminderCycle}}</span></div>
  <div style="display:block; text-align: center"><span>Next Reminder:</span><span style="margin-left: 20px">{{item?.reminderNext}}</span></div>
</fw-item-detail>