<header>
    <nav>
        <span class="menu" [routerLink]="['/inboxItems']">Inbox</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/listItems/trash']">Trash</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/listItems/someday']">Someday</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/listItems/reference']">Reference</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/userProfiles']">Users</span>
    </nav>
</header>
<router-outlet></router-outlet>