<header>
    <nav>
        <span class="menu" [routerLink]="['/inboxItems']">Inbox</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/next']">Next</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/delegatedItems']">Waiting for</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/trash']">Trash</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/someday']">Someday</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/reference']">Reference</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/userProfiles']">Users</span>
        <span class="menu" style="margin-left:20px" [routerLink]="['/contacts']">Contacts</span>
    </nav>
</header>
<router-outlet></router-outlet>
