<app-loading-container [loadable]="userProfileListingStore.getUserProfileListing() | async">
  <header>
    <app-user-profile-search (queryChanged)="search($event)"></app-user-profile-search>
    <app-user-profile-filters [filters]="userProfileListingStore.getUserProfileFilters() | async"
                            
                            
                            >
    </app-user-profile-filters>
  </header>

  <app-user-profile-listing [userProfiles]="userProfileListingStore.getUserProfiles() | async">
  </app-user-profile-listing>
</app-loading-container>
