<div>
  <h2 *ngIf="hasDeclaration">{{Declaration}}</h2>
  <h3 *ngIf="hasQuestion">{{Question}}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="radio" formControlName="nonactionable" value="trash">Trash?<br>
    <input type="radio" formControlName="nonactionable" value="someday">Someday/maybe?<br>
    <input type="radio" formControlName="nonactionable" value="reference">Reference<br>
    <button *ngIf="hasPrev" (click)="StateChanged(PrevStep,undefined)">Previous</button>
    <button type="submit" [disabled]="!form.valid" *ngIf="hasNext">Next</button>
  </form>

</div>