<template #myTemplate let-item="item">
    <div class="list-item">
      <h4>{{item.description}}</h4>
    </div>
</template>

<fw-loading-container [loadable]="listingStore.getItemListing() | async">
  <header>
    <fw-search (queryChanged)="search($event)"></fw-search>
    <fw-user-filter [filters]="listingStore.getItemFilters() | async"                            
                    [users]="(userProfileListingStore.getUsers() | async)"
                    (userFilterChanged)="filterUser($event)">
    </fw-user-filter>
  </header>

  <fw-item-listing [items]="listingStore.getItems() | async" [template]="myTemplate">
  </fw-item-listing>
</fw-loading-container>

